##########################################################################
# .gitignore file for Android, Java, Scala, Eclipse and IntelliJ project #
##########################################################################

.DS_Store

.classpath
.project
.settings/

*.apk
*.ap_

*.dex

*.class
*.log

bin/
gen/
data/
libs/

local.properties

proguard/

.gradle/
build/

local.properties

.mtj.tmp/

*.jar
*.war
*.ear

hs_err_pid*

.idea/
*.iml
*.iws

plugin.xml_gen
src-gen
xtend-gen

.cache
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

.scala_dependencies
.worksheet

